header
{
  background-image: url(code.jpg);
  height: 98vh;
  background-position: center;
  background-size: auto;
}
h1
{
  font-size: 50px;
  font-style: bold;
  color: blue;
  text-decoration: none;
  text-align: center;
}
h2
{
  font-size: 20px;
  font-style: italic;
  color: lightblue;
  text-decoration: none;
  text-align: center;
}
